:root {
  --main-color: #4287f5;
  --second-color: #eeeeee;
  --third-color: #DB7734;
  --background-color: #fafafaf6;
  --border-color: #cccccc;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;

}

.container {
  background-image: url("assets/img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container h1 {
  margin-top: 30px;
  color: var(--main-color);
}

.login_box {
  border-radius: 20px;
  width: 60px;
  height: 60px;
  background: #f0f0f0;
  animation: anime 4s cubic-bezier(0.16, 1, 0.3, 1) 1s;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.login_box * {
  opacity: 0;
  animation: anim 1s 4.3s;
  animation-fill-mode: forwards;

}

.inscription_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 480px;
  height: 270px;
  background: var(--background-color);
  border-radius: 20px;

}


.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.login_form input {
  margin-bottom: 40px;
  padding-left: 5px;

}

.login_form input:focus {
  outline-color: var(--border-color);

}

.formx {
  height: 39px;
  width: 175px;
  border-radius: 7px;
  border: 0.3px solid var(--border-color);

}

.formx:hover {
  border: 1px solid black;
}

/* <a> */
.login_inscription_link {
  position: relative;
  bottom: 40px;
  left: 60px;
  font-size: 13px;
  color: var(--main-color);
}

.inscription_login_link {
  position: relative;
  bottom: 40px;
  left: 25px;
  font-size: 11px;
  color: var(--main-color);
}



/* main page */

.deconnexion{
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--main-color);
}

.main_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 38vw;
  height: 30vh;
  background: var(--background-color);
  border-radius: 20px;
}

.main_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3vh;
}

.main_input {
  margin-bottom: 4vh;
  height: 4vh;
  width: 27vw;
  border-radius: 7px;
  border: 0.3px solid var(--border-color);
  padding-left: 5px;

}

#bin {
  margin-top: 2vh;
  width: 60vh;
  height: 23vh;
}

#bin:hover {
  border: 10px dashed var(--third-color);
}

#pic {

}

.error{
    position: relative;
    top: 20px;
}

img {
  padding: 2vh;
  width: 200px;
  height: 150px;
}

img:hover{
  cursor: pointer;
}

.hovered {
  border: dashed 2px red;
  
}

.supr{
opacity: 0;

}


/* Animation  */
@keyframes anim {
  100% {
    opacity: 1;
  }
}

@keyframes anime {
  0% {
    width: 60px;
    height: 60px;
    background: #f0f0f0;

  }

  50% {
    width: 60px;
    height: 240px;
    background: #f8f8f8;

  }

  100% {
    width: 480px;
    height: 270px;
    background: #fafafaf6;

  }
}