<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    {# <link rel="stylesheet" href="css.css"> #}
    <title>CV</title>
</head>
<body>
    <section class="container">
        <div class="login_box">
            <h1>Bienvenue</h1>
            <form class="login_form" action="/" method="post">
                <input type="text" class="formx" placeholder="Entrez votre Pseudo.." id="pseudo" name="pseudo">
                <a class="login_inscription_link" href='/inscription'>inscription</a>
                <!-- <p class='error'>{{message}}</p> -->
                <button class="formx" type="submit">Connexion</button>
            </form>
        </div>
    </section>
</body>
</html>